<?xml version='1.0'?>

<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="chassis_width" value="0.15"/>
  <xacro:property name="chassis_length" value="0.2"/>
  <xacro:property name="chassis_height" value="0.05"/>
  <xacro:property name="chassis_mass" value="0.5"/>
  <xacro:property name="wheel_radius" value="0.04"/>
  <xacro:property name="wheel_width" value="0.03"/>
  <xacro:property name="wheel_mass" value="0.1"/>

  <xacro:include filename="$(find ros_test)/urdf/robot.gazebo" />
  <xacro:include filename="$(find ros_test)/urdf/macros.xacro" />

  <link name='chassis'>

    <xacro:box_inertial name="chassis" m="${chassis_mass}" x="${chassis_length}" y="${chassis_width}" z="${chassis_height}"/>

    <collision name='chassis_collision'>
      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>
    </collision>

    <visual name='chassis_visual'>
      <origin xyz="0 0 0.01" rpy=" 0 0 0"/>
      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>
    </visual>

  </link>

  <link name='back_left_wheel'>
    <xacro:cylinder_inertial name="back_left_wheel" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <collision name='wheel_collision'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual name='back_left_wheel'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </visual>
  </link>

<link name='back_right_wheel'>
    <xacro:cylinder_inertial name="back_right_wheel" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <collision name='wheel_collision'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual name='back_right_wheel'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </visual>
  </link>

<link name='front_left_wheel'>
    <xacro:cylinder_inertial name="front_left_wheel" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <collision name='wheel_collision'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual name='front_left_wheel'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </visual>
  </link>

<link name='front_right_wheel'>
    <xacro:cylinder_inertial name="front_right_wheel" m="${wheel_mass}" r="${wheel_radius}" h="${wheel_width}"/>

    <collision name='wheel_collision'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual name='front_right_wheel'>
      <origin xyz="0 0 0" rpy="1.5707 1.5707 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
      </geometry>
    </visual>
  </link>

  <joint name="chassis_to_front_left_wheel" type="continuous">
    <axis xyz="0 1 0"/>
    <parent link="chassis"/>
    <child link="front_left_wheel"/>
    <origin xyz="0.096 0.09 0.01"/>
  </joint>

  <joint name="chassis_to_back_left_wheel" type="continuous">
    <axis xyz="0 1 0"/>
    <parent link="chassis"/>
    <child link="back_left_wheel"/>
    <origin xyz="-0.096 0.09 0.01"/>
  </joint>

  <joint name="chassis_to_front_right_wheel" type="continuous">
    <axis xyz="0 1 0"/>
    <parent link="chassis"/>
    <child link="front_right_wheel"/>
    <origin xyz="0.096 -0.09 0.01"/>
  </joint>

  <joint name="chassis_to_back_right_wheel" type="continuous">
    <axis xyz="0 1 0"/>
    <parent link="chassis"/>
    <child link="back_right_wheel"/>
    <origin xyz="-0.096 -0.09 0.01"/>
  </joint>

  <link name="linefollow_camera_link">
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
    </visual>
  </link>

  <joint name="linefollow_camera_joint" type="fixed">
    <origin xyz="0.096 0 0.06" rpy="0 0.785 0"/>
    <parent link="chassis"/>
    <child link="linefollow_camera_link"/>
  </joint>

  <link name="face_detection_camera_link">
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.02"/>
      </geometry>
    </visual>
  </link>

  <joint name="face_detection_camera_joint" type="fixed">
    <origin xyz="0.096 0 0.071" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="face_detection_camera_link"/>
  </joint>

</robot>