<?xml version="1.0"?>

<model>
  <name>picture_frame</name>
  <version>1.0</version>
  <sdf version='1.5'>picture_frame.sdf</sdf>

  <author>
    <name>My name</name>
    <email>name@email.address</email>
  </author>

  <description>
    Box template to house images for facial recongnition 
  </description>
</model>